<!--Back Button-->
<a href="javascript:void(0)" (click)="goBack()">
  <i class="fas fa-chevron-circle-left" style="font-size: 18px"></i>
</a>
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Oops Interview Question & Answer</h1>
</div>

<div class="row">
  <div class="row" *ngFor="let question of questions">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">
            {{ question.questionText }}
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              (click)="sideNavService.toggleQuestion()"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
              [ngClass]="{ show: sideNavService.hideQuestion }"
            >
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body" [innerHTML]="question.questionDesc"></div>
      </div>
    </div>
  </div>
</div>
