<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">C# Interview Question & Answer</h1>
</div>

<!-- Content Row -->
<div class="row">
  <!-- Content Row -->
  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- Question1 -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            Explain the types of comments in C#?
          </h6>
        </div>
        <div class="card-body">
          <p>Below are the types of comments in C# –</p>
          <p>Single Line Comment Eg : //</p>
          <p>Multiline Comments Eg: /* */</p>
          <p>XML Comments Eg : ///</p>
        </div>
      </div>

      <!-- Question2 -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            What’s A Satellite Assembly?
          </h6>
        </div>
        <div class="card-body">
          <p>
            When you write a multilingual or multi-cultural application in .NET,
            and want to distribute the core application separately from the
            localized modules, the localized assemblies that modify the core
            application are called satellite assemblies.
          </p>
        </div>
      </div>

      <!-- Question3 -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            How’s The Dll Hell Problem Solved In .net?
          </h6>
        </div>
        <div class="card-body">
          <p>
            Assembly versioning allows the application to specify not only the
            library it needs to run (which was available under Win32), but also
            the version of the assembly.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
