<a href="javascript:void(0)" (click)="goBack()">
  <i class="fas fa-chevron-circle-left" style="font-size: 18px"></i>
</a>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Interview</h1>
</div>

<div class="row" *ngFor="let questionCategory of questionCategories">
  <!-- Earnings (Monthly) Card Example -->
  <div
    class="col-xl-3 col-md-6 mb-4"
    routerLink="{{ questionCategory.questionCategoryLink }}"
  >
    <div
      class="card {{
        questionCategory.questionCategoryColor
      }} shadow h-100 py-2"
    >
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              {{ questionCategory.questionCategoryName }}
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              {{ questionCategory.questionCategoryDesc }}
            </div>
          </div>
          <div class="col-auto">
            <i
              class="{{
                questionCategory.questionCategoryLogo
              }} fa-2x text-gray-300"
              >{{ questionCategory.questionCategoryLogoText }}</i
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
