<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="text-right" routerLink="" style="padding: 10px">
            <i class="far fa-times-circle fa-2x"></i>
          </div>

          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-4">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form
                  name="form"
                  (ngSubmit)="f.form.valid && onSubmit()"
                  #f="ngForm"
                  novalidate
                  class="user"
                >
                  <div class="form-group">
                    <input
                      type="text"
                      name="email"
                      class="form-control"
                      [(ngModel)]="model.email"
                      #email="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                      required
                      email
                      placeholder="Email"
                    />
                    <div
                      *ngIf="f.submitted && email.invalid"
                      class="invalid-feedback"
                    >
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        name="password"
                        class="form-control"
                        [(ngModel)]="model.password"
                        #password="ngModel"
                        [ngClass]="{
                          'is-invalid': f.submitted && password.invalid
                        }"
                        required
                        minlength="6"
                        placeholder="Password"
                      />
                      <div
                        *ngIf="f.submitted && password.invalid"
                        class="invalid-feedback"
                      >
                        <div *ngIf="password.errors.required">
                          Password is required
                        </div>
                        <div *ngIf="password.errors.minlength">
                          Password must be at least 6 characters
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-user btn-block">
                    <i
                      class="fa fa-spinner fa-fw fa-spin"
                      style="font-size: 15px"
                      *ngIf="loginService.loading"
                    ></i
                    >Login Account
                  </button>
                  <button
                    class="btn btn-primary btn-user btn-block"
                    type="reset"
                  >
                    Cancel
                  </button>
                </form>
                <hr />
                <button
                  (click)="loginViaGoogle()"
                  class="btn btn-google btn-user btn-block"
                >
                  <i
                    class="fa fa-spinner fa-fw fa-spin"
                    style="font-size: 15px"
                    *ngIf="loading"
                  ></i>
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </button>
                <a
                  href="index.html"
                  class="btn btn-facebook btn-user btn-block"
                >
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
                <hr />
                <div class="text-center">
                  <a class="small" href="forgot-password.html"
                    >Forgot Password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" routerLink="/signup">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
