<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
  [ngClass]="{ hidden: sideNavService.hideSideNav }"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="index.html"
  >
    <div class="sidebar-brand-icon">
      <img src="../../../assets/Images/interview.png" width="40" height="40" />
    </div>
    <div class="sidebar-brand-text mx-3" style="text-transform: none">
      techBlog
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" routerLink="dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Category</div>

  <li
    class="nav-item"
    routerLinkActive="active"
    *ngFor="let category of categories"
  >
    <a
      class="nav-link"
      routerLink="{{ category.categoryLink }}"
      (click)="sideNavService.hideShowSideNav()"
    >
      <i class="{{ category.categoryIcon }}"></i>
      <span>{{ category.categoryName }}</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button
      class="rounded-circle border-0"
      id="sidebarToggle"
      (click)="sideNavService.toggleSideNav()"
    ></button>
  </div>

  <div class="theme-switch" style="margin: 40px">
    <a
      *ngIf="
        (themeService.presentTheme$ | async) == 'theme-light';
        else moonTemplate
      "
      (click)="themeService.changeTheme('theme-dark')"
    >
      <!-- <img
        src="https://cdn1.iconfinder.com/data/icons/interface-59/24/brightness-light-up-day-mode-512.png"
        style="width: 30px"
        alt="light mode"
      /> -->
      <i class="fas fa-sun fa-2x" style="color: white"></i>
    </a>

    <ng-template #moonTemplate>
      <a (click)="themeService.changeTheme('theme-light')">
        <!-- <img
          src="https://cdn0.iconfinder.com/data/icons/multimedia-solid-30px/30/sun_light_mode_day-512.png"
          style="width: 30px"
          alt="dark-mode"
        /> -->
        <i class="fas fa-moon fa-2x" style="color: white"></i>
      </a>
    </ng-template>
  </div>
</ul>
