/* You can add global styles to this file, and also import other style files */

@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

pre {
  font-size: 10px;
  border: 2px solid grey;
  border-left: 12px solid green;
  border-radius: 5px;
  padding: 10px;
  background-color: whitesmoke;
  line-height: 1rem;
  white-space: pre-wrap;
  text-align: justify;
}
