/* You can add global styles to this file, and also import other style files */

@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@import "/node_modules/ngx-sharebuttons/themes/circles/circles-dark-theme";

pre {
  font-size: 10px;
  border: 2px solid grey;
  border-top: 10px solid #4e73df;
  border-radius: 5px;
  padding: 10px;
  background-color: whitesmoke;
  line-height: 1rem;
  white-space: pre-wrap;
  text-align: justify;
}

table {
  font-size: 8px;
}

.sb-content {
  font-size: 7px !important;
}

.test {
  background: black;
  color: white;
  width: 96% !important;
  position: fixed;
  bottom: 0px;
}

.dot {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 2.5em;
  font-size: 10px;
  i {
    color: white;
  }
}

.fixedHeight {
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 159px);
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.comments ul {
  list-style: none;
  padding: 0;
}

.divider {
  margin: 0 5px;
  width: 1px;
  height: 20px;
  background: #ccc;
  display: inline-block;
  vertical-align: middle;
}

.comment-container p {
  background: #e9ebee;
  padding: 6px 10px;
}

.comments h6 {
  margin-left: 15px;
}

.theme-light {
  .bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  }
  .app-header-primary {
    background-color: #fff;
  }
  .dropdown-header {
    background-color: #4e73df;
    border: 1px solid #4e73df;
    color: #fff;
  }
}

.theme-dark {
  #wrapper {
    #content-wrapper {
      background-color: #000000;
    }
  }
  .bg-gradient-primary {
    background-color: #191d24;
    background-image: linear-gradient(180deg, #191d24 10%, #191d24 100%);
  }
  .app-header-primary {
    background-color: #191d24 !important;
  }
  .dropdown-header {
    background-color: #191d24 !important;
    border: 1px solid #000000 !important;
    color: #fff;
  }
  a {
    color: #fff;
  }
  pre {
    border-top: 10px solid #191d24;
  }
  .bg-white {
    background-color: #191d24 !important;
  }
  .card-header {
    background-color: #191d24;
    border-radius: 0px solid #191d24;
  }
  .card-body {
    a {
      color: #191d24;
    }
  }
  link:hover {
    color: #fff;
  }
  .btn-link:hover {
    color: #fff;
  }
  .dropdown-item {
    color: #191d24;
  }
  .card-wrapper {
    a {
      color: #191d24;
    }
  }
  .igx-card-content {
    a {
      color: rgba(0, 0, 0, 0.6) !important;
    }
  }
}
