/* You can add global styles to this file, and also import other style files */

@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/regular.scss";

@import "/node_modules/@fortawesome/fontawesome-free/scss/solid.scss";

@import "/node_modules/ngx-sharebuttons/themes/circles/circles-dark-theme";

pre {
  font-size: 10px;
  border: 2px solid grey;
  border-left: 5px solid #4e73df;
  border-radius: 5px;
  padding: 10px;
  background-color: whitesmoke;
  line-height: 1rem;
  white-space: pre-wrap;
  text-align: justify;
}

table {
  font-size: 8px;
}

.sb-content {
  font-size: 7px !important;
}

.test {
  background: black;
  color: white;
  width: 96% !important;
  position: fixed;
  bottom: 0px;
}

.dot {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 2.5em;
  font-size: 10px;
  i {
    color: white;
  }
}
