<!--Back Button-->

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    ASP.NET Core Interview Question & Answer
  </h1>
</div>

<div class="row">
  <div class="row">
    <div class="col-xl-8 col-lg-7 accordion" id="accordionExample">
      <div class="card shadow mb-4" *ngFor="let question of questions">
        <div class="card">
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
            id="headingOne"
          >
            <h6 class="m-0 font-weight-bold text-primary">
              <a
                type="button"
                class="btn-link"
                data-toggle="collapse"
                [attr.data-target]="'#collapseOne' + question.questionNo"
                aria-expanded="true"
                aria-controls="collapseOne"
                style="text-decoration: none"
              >
                Q{{ question.questionNo }}. {{ question.questionText }}
              </a>
            </h6>
            <div class="dropdown no-arrow">
              <a
                class="dropdown-toggle"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink"
              >
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div
            id="collapseOne{{ question.questionNo }}"
            class="collapse {{ question.iscollapse }}"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div [innerHTML]="question.questionDesc"></div>

              <p>
                <a target="_self" rel="nofollow"
                  >{{ question.questionRef }} &rarr;</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
