<!--Back Button-->
<a href="javascript:void(0)" (click)="goBack()">
  <i class="fas fa-chevron-circle-left" style="font-size: 18px"></i>
</a>

<div class="row" *ngFor="let card of cards">
  <div class="row">
    <div class="sample-column card-wrapper">
      <igx-card>
        <igx-card-media height="auto">
          <img [src]="card.imageUrl" />
        </igx-card-media>

        <igx-card-header>
          <h3 igxCardHeaderTitle>{{ card.title }}</h3>
          <h5 igxCardHeaderSubtitle [innerHTML]="card.subtitle"></h5>
        </igx-card-header>

        <igx-card-content>
          <p [innerHTML]="card.content"></p>
        </igx-card-content>

        <igx-card-actions>
          <button igxButton igxRipple (click)="saveit(card.more)">
            read more
          </button>
          <button
            igxButton="icon"
            igxRipple
            igxRippleCentered="true"
            *ngFor="let icon of card.icons"
          >
            <igx-icon>{{ icon }}</igx-icon>
          </button>
        </igx-card-actions>
      </igx-card>
    </div>
  </div>
</div>
